<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Feher Construction</title>

  <style>
    body {
      background-color: #1e64ff;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      color: #0351c1;
      font-size: 16px;
      height: 100vh;
    }

    #left-side {}

    #right-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #step-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }

    .step-title {
      font-size: 14px;
      font-weight: bold;

    }

    .data-title {
      font-size: 14px;
      font-weight: 500;
    }

    .substep-title {
      font-size: 14px;
      font-weight: 600;
      font-style: italic;
    }


    #customer-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-size: 14px;
      font-weight: 500;
    }

    #wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    #content {
      flex: 3;
      display: flex;
      padding-top: 10px;
      flex-direction: row;
      background-color: #f2f8fd;
      border-radius: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    #content-title-left {
      text-align: center;
      font-size: 21px;
      font-weight: 700;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    #content-title-right {
      text-align: center;
      font-size: 31px;
      font-weight: 700;
      display: flex;
    }

    #header {
      flex: 1;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .header-size{
      font-size: 40px;
    }

    #footer {
      flex: 1;
      margin-top: 30px;
      padding-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      border-top: 1px solid white;
    }

    .img-styles {
      max-height: 90px;
      max-width: 90px;
      object-fit: cover;
      border-radius: 90%;
    }

    #image-container {
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid white;
      ;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
    }

    #wops-sign {
      flex: 4;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .motto-link {
      color: #ffffff !important;
      font-size: 14px;
      font-weight: 500;
    }

    .sign-top {
      display: flex;
      flex: 1;
    }

    #sign-bottom {
      font-size: 11px;
      display: flex;
      flex-direction: column;
      font-weight: 600;
    }

    p {
      margin: 0px !important;
      flex: 1;
    }

    @media only screen and (max-width: 600px){
        .header-size{
      font-size: 30px !important;
    }
    }
  </style>

</head>

<body>
  <div id="wrapper" class="container-fluid">
    <div id="header" class="row header-size">
      <span>Yeni bir müşteri talebi</span>
    </div>
    <div id="content" class="row">
      <div id="left-side" class="col-12">
    
      </div>
      <div id="right-side" class="col-12">
        <div id="content-title-right" class="row">
          <span>
            Müşteri bilgileri
          </span>
        </div>
        <div id="customer-details" class="row">
          <p>İsim: {{name|safe}}</p>
          <p>Email: {{email|safe}}</p>
          <p>Telefon Numarası: {{phone|safe}}</p>
          <p>Mesajınız: {{message|safe}}</p>
        </div>
      </div>
    </div>
    <div id="footer" class="row">
      <div id="wops-sign" class="col-7">
        <div id="sign-top" class="row">
          <a class="motto-link" href="https://https://www.feherconstruction.com">20 Yılı aşkın süredir, tüm müşterilerimizin taleplerini karşılıyor, partnerlerimiz ile iş birliği içinde uluslararası pazarlarda uygulama yapıyoruz.</a>
          <a>
        </div>
        <div id="sign-bottom" class="row">
          <p class="">Phone: +36 70 772 0883</p>
          <p>Mail : office@feherconstruction.com</p>
          <p>R&D: Feher Construction Kft Szervita tér 8 , 1052 Budapest , Hungary </p>
        </div>
      </div>
      <div id="image-container" class="col-5">
        <img class="img-styles" src="https://pbs.twimg.com/profile_images/931085683757928449/_3ZvveXr.jpg" alt="">
      </div>
    </div>
  </div>
</body>

</html>